/* ------------------------------------------------------------------------ */
/* -------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.pt20 {
  padding-top: 20px;
}

html {
  scroll-behavior: smooth;
}

/*-------------------- variables ----------------------------------------------*/
/*--------------- fonts properties ---------------*/
body {
  font-family: "Montserrat", sans-serif;
}

.fz12 {
  font-size: 12px;
}

.fz14 {
  font-size: 14px;
}

.fz16 {
  font-size: 16px;
}

.fz18 {
  font-size: 18px;
}

.fz20 {
  font-size: 20px;
}

.fz22 {
  font-size: 22px;
}

.fz24 {
  font-size: 24px;
}

.fz28 {
  font-size: 28px;
}

.fz36 {
  font-size: 36px;
}

.fz38 {
  font-size: 38px;
}

.fz42 {
  font-size: 42px;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.fw800 {
  font-weight: 800;
}

/*-------------- color ---------------*/
.black {
  color: #000000;
}

.white {
  color: #fff;
}

.main-color {
  color: #1877F2;
}

.sky-blue {
  color: #87CEFA;
}

.alice-blue {
  color: #0071c5;
}

/*----------------- gap --------------------*/
.gap10 {
  gap: 10px;
}

.gap15 {
  gap: 15px;
}

.gap20 {
  gap: 20px;
}

.gap25 {
  gap: 25px;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------*/
.main-page-about-h1 {
  text-transform: uppercase;
  color: #1877F2;
  letter-spacing: 1px;
}
.main-page-about-a {
  color: #0071c5;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.4s ease;
}
.main-page-about-a:hover {
  color: #87CEFA;
}
.main-page-about-h2 {
  color: #1877F2;
}

.about-section-h1 {
  color: #1877F2;
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------*/
.page-wrap {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.8), rgba(4, 9, 30, 0.8)), url("../images/DSC_8086.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-nav-list-item {
  list-style: none;
}

.main-nav {
  padding: 30px 0;
}
.main-nav-list-item {
  list-style: none;
}
.main-nav-list-link {
  text-decoration: none;
  color: #fff;
  position: relative;
}
.main-nav-list-link::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0%;
  background-color: #1877F2;
  bottom: 1px;
  transition: all 0.3s ease;
}
.main-nav-list-link:hover {
  color: #1877F2;
}
.main-nav-list-link:hover::before {
  width: 100%;
}

.main-textbox-title {
  padding-bottom: 10px;
}
.main-textbox-text {
  padding-bottom: 20px;
}
.main-visit-button {
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 12px;
  background-color: transparent;
  border: 2px solid #fff;
  transition: all 0.3s ease;
}
.main-visit-button:hover {
  transform: scale(0.9);
  border-color: #1877F2;
  color: #1877F2;
}

.header-main-logo {
  text-decoration: none;
}

.header-container {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.language-menu {
  background-color: transparent;
  border: none;
  color: #fff;
  transition: all 0.3s ease;
}
.language-menu:hover {
  color: #1877F2;
  background-color: transparent;
}

.language-dropdown-menu {
  background-color: #87CEFA;
}

.language-dropdown-item {
  transition: all 0.3s ease;
}
.language-dropdown-item:hover {
  background-color: #0071c5;
}

.main-page-burger-menu-list-item, .main-page-x-menu-list-item {
  list-style: none;
  font-size: 55px;
  display: none;
  border: none;
  color: #1877F2;
}

.main-page-burger-menu, .main-page-x-menu {
  border: none;
  background-color: transparent;
}

.arrow-down-icon {
  transition: all 0.9s ease;
}
.arrow-down-icon:hover {
  color: #1877F2;
  transform: scale(0.9);
}

@media screen and (max-width: 768px) {
  .main-nav-list {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    max-width: 350px;
    width: 0%;
    background-color: #00416A;
    z-index: 999;
    border-radius: 16px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: all 0.5s ease-out;
  }
  .main-nav-list.active {
    width: 100%;
  }
  .main-page-x-menu-list-item {
    display: block;
  }
  .main-page-burger-menu-list-item {
    display: block;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .main-textbox-title {
    font-size: 30px !important;
  }
  .main-textbox-text {
    font-size: 16px !important;
  }
  .main-visit-button {
    padding: 10px 25px !important;
  }
  .header-main-logo {
    font-size: 30px !important;
  }
  .main-nav-list {
    max-width: 400px;
  }
}
@media screen and (max-width: 600px) {
  .main-textbox-title {
    font-size: 28px !important;
  }
  .main-textbox-text {
    font-size: 14px !important;
  }
  .main-visit-button {
    padding: 5px 20px !important;
  }
  .header-main-logo {
    font-size: 26px !important;
  }
  .main-nav-list {
    max-width: 280px;
  }
}
/*-----------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------*/
.main-page-about-acrobatics-title {
  padding: 30px 0 10px;
}

.about-acrobatics-img {
  max-width: 400px;
  width: 100%;
  border-radius: 18px;
  box-shadow: 8px 8px 24px 0px rgb(66, 68, 90);
}
.about-acrobatics-img-item {
  max-width: 400px;
  width: 100%;
}

@media screen and (max-width: 1140px) {
  .about-acrobatics-img-cards-row {
    justify-content: center !important;
  }
}
/* ------------------------------------------------------------------------ */
/* -------------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.pt20 {
  padding-top: 20px;
}

html {
  scroll-behavior: smooth;
}

/*-------------------- variables ----------------------------------------------*/
/*--------------- fonts properties ---------------*/
body {
  font-family: "Montserrat", sans-serif;
}

.fz12 {
  font-size: 12px;
}

.fz14 {
  font-size: 14px;
}

.fz16 {
  font-size: 16px;
}

.fz18 {
  font-size: 18px;
}

.fz20 {
  font-size: 20px;
}

.fz22 {
  font-size: 22px;
}

.fz24 {
  font-size: 24px;
}

.fz28 {
  font-size: 28px;
}

.fz36 {
  font-size: 36px;
}

.fz38 {
  font-size: 38px;
}

.fz42 {
  font-size: 42px;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.fw800 {
  font-weight: 800;
}

/*-------------- color ---------------*/
.black {
  color: #000000;
}

.white {
  color: #fff;
}

.main-color {
  color: #1877F2;
}

.sky-blue {
  color: #87CEFA;
}

.alice-blue {
  color: #0071c5;
}

/*----------------- gap --------------------*/
.gap10 {
  gap: 10px;
}

.gap15 {
  gap: 15px;
}

.gap20 {
  gap: 20px;
}

.gap25 {
  gap: 25px;
}/*# sourceMappingURL=main.css.map */